[global]
timeout = '10s'
strategy = 'all'
log_level = 'trace'

[[chains]]
id = 'cosmoshub-4'
rpc_addr = 'http://localhost:26657'
grpc_addr = 'http://localhost:9089'
websocket_addr = 'ws://localhost:26657/websocket'
rpc_timeout = '10s'
account_prefix = 'cosmos'
key_name = 'node_key'
store_prefix = 'cosmoshub-4'
max_gas = 900000
gas_adjustment = 0.3
gas_price = { price = 0.001, denom = 'uatom' }
clock_drift = '5s'
trusting_period = '14days'

[chains.trust_threshold]
numerator = '1'
denominator = '3'

[[chains]]
id = 'h3liax'
rpc_addr = 'http://localhost:26357'
grpc_addr = 'http://localhost:9088'
websocket_addr = 'ws://localhost:26357/websocket'
rpc_timeout = '10s'
account_prefix = 'cosmos'
key_name = 'node_key'
store_prefix = 'heliax'
max_gas = 3000000
gas_price = { price = 0.001, denom = 'stake' }
clock_drift = '5s'
trusting_period = '14days'

[chains.trust_threshold]
numerator = '1'
denominator = '3'

[[connections]]
a_chain = 'cosmoshub-4'
b_chain = 'h3liax'
delay = '10s'

[[connections.paths]]
a_port = 'transfer'
b_port = 'transfer'

[[connections]]
a_chain = 'cosmoshub-4'
b_chain = 'h3liax'
delay = '10s'

[[connections.paths]]
a_port = 'transfer'
b_port = 'transfer'